/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(./assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Maname", serif;
    font-weight: normal;
}

h4{
    font-size: 24px;
}

form {
    margin-top: 116px;
}

span {
    font-family: "Roboto Mono", monospace;
}

img {
    width: 160px;
}

label {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

ul {
    list-style-type: none;
    padding: 0; 
    text-align: left;
}


/*Body*/

@keyframes urgencyEffect {
    0% {
        background-color: rgba(0, 0, 0, 0);
        /* Sin filtro */
        opacity: 0;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.6);
        opacity: 0.7;
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

.timeout::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: urgencyEffect 1s infinite;
    pointer-events: none;
    z-index: 9999;
}



/*Clases Auxiliares*/
.o-100 {
    opacity: 100%;
}

#modal {
    display: none;
    background-color: black;
}

#acceptButton{
    font-family: "Roboto Mono", monospace;

    border: none;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    padding: 10px 10px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#acceptButton:hover{
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);

}



/*Pagina Normas*/
#text {
    font-size: 24px;
    text-align: center;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 2s ease-in-out; /* Transición de opacidad */
}

#textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Contador Tests */
#counterContainer {
    width: 192px;
    height: 95px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2vh;
    right: 2vw;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
}


#testCounter {
    font-size: 40px;
    font-weight: bold;
}

/*Texto Inicio*/

.containerStart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.startTitle {
    width: 603px;
    height: 267px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
}

/*Contenedor Tests*/

.containerDrag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 75px;
}

.figureOne,
.figureTwo,
.figureThree,
.figureFour {
    width: 289px;
    height: 211px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figureFour {
    border: black solid 1px;
}

/*Contenedor Opciones Test*/

.containerOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 75px;
}

.optionOne,
.optionTwo,
.optionThree,
.optionFour {
    width: 134px;
    height: 114px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor Form*/

.containerForm {
    width: 1211px;
    height: 661px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
}

/*Opciones Test Imagenes*/

.optionSelected {
    transition: width 0.3s ease; 
  }

.optionSelected:hover {
    animation: moveUpDown 0.6s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Botones*/

.nextTest {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    top: 800px;
    right: 30px;
    border: none;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 50px 50px 0px 0px;
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.nextTest:hover {
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
}

/*Inputs Form*/

#emailForm,
#nameForm {
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    width: 558px;
    height: 59px;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    box-shadow: 2px 2px 110px 16px rgb(95, 93, 95);
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
}

.submitContainer {
    display: flex;
    justify-content: center;
}

#submitForm {
    font-family: "Roboto Mono", monospace;
    width: 235px;
    height: 73px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    box-shadow: 2px 2px 110px 16px rgb(95, 93, 95);
    margin-top: 50px;
    font-size: 32px;
    cursor: pointer;

}

/*Final Page*/

.containerFinal{
    width: 1211px;
    height: 661px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 110px;
}

#newTest{
    font-family: "Roboto Mono", monospace;
    width: 298px;
    height: 73px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    box-shadow: 2px 2px 110px 16px rgb(95, 93, 95);
    margin-top: 50px;
    font-size: 32px;
    cursor: pointer;
}


/*Container  Jugadores*/

.playerName{
    position: absolute;
    color: white;

    margin-top: 90px;
    margin-left: 72px;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;

}

.playersTimes{
    position: absolute;
    margin-top: 90px;
    margin-left: 428px;
    color: white;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

.playerPoints{
    position: absolute;
    margin-top: 90px;
    margin-left: 788px;
    color: white;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

.pointsMedia{
    position: absolute;
    margin-top: 90px;
    margin-left: 1002px;
    color: white;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

.timeMedia{
    position: absolute;
    margin-top: 302px;
    margin-left: 788px;
    color: white;
    font-weight: 400;
    font-family: "Roboto Mono", monospace;
}

.containerPlayers{
    font-family: "Roboto Mono", monospace;
    width: 320px;
    height: 357px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin-left: 65px;
    margin-top: 130px;
    box-shadow: 2px 2px 400px 16px rgb(95, 93, 95);
    padding-left: 20px;

}

.containerTimes{
    font-family: "Roboto Mono", monospace;
    width: 320px;
    height: 357px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin-left: 425px;
    margin-top: 130px;
    box-shadow: 2px 2px 400px 16px rgb(95, 93, 95);
    padding-left: 20px;

}

.containerPoints{
    font-family: "Roboto Mono", monospace;
    width: 201px;
    height: 142px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin-left: 783px;
    margin-top: 130px;
    box-shadow: 2px 2px 400px 16px rgb(95, 93, 95);
    padding-left: 20px;
}

.containerPointMedia{
    font-family: "Roboto Mono", monospace;
    width: 201px;
    height: 142px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin-left: 1000px;
    margin-top: 130px;
    box-shadow: 2px 2px 400px 16px rgb(95, 93, 95);
    padding-left: 20px;
}

.containerTimeMedia{
    font-family: "Roboto Mono", monospace;
    width: 419px;
    height: 142px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin-left: 783px;
    margin-top: 345px;
    box-shadow: 2px 2px 400px 16px rgb(95, 93, 95);
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ordenarJugador{
    cursor: pointer;
}

#media{
    text-align: center;
    margin-right: 17px;
    font-size: 48px;
}