/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/images/bg.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
}

span{
    font-family: "Roboto Mono", monospace;
}

/*Clases Auxiliares*/
.o-100{
    opacity: 100%;
}

/* Contador Tests */
#counterContainer {
    width: 192px;
    height: 95px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 249, 249, 0.33) 0%, rgba(153, 150, 150, 0.33) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2vh;
    right: 2vw;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
}


#testCounter {
    color: white;
    font-size: 40px;
    font-weight: bold;
}


